USE [PuntoDVenta]
GO
ALTER TABLE [dbo].[VENTA] DROP CONSTRAINT [CK__VENTA__iIDEmp__4CA06362]
GO
ALTER TABLE [dbo].[NOMINA] DROP CONSTRAINT [CK__NOMINA__iIDEmp__71D1E811]
GO
ALTER TABLE [dbo].[EMPLEADO] DROP CONSTRAINT [CK__EMPLEADO__iIDEmp__6EF57B66]
GO
ALTER TABLE [dbo].[EMPLEADO] DROP CONSTRAINT [CK__EMPLEADO__iEdad__6FE99F9F]
GO
ALTER TABLE [dbo].[PUESTO] DROP CONSTRAINT [FK_PUESTO_PUESTO]
GO
ALTER TABLE [dbo].[NOMINA] DROP CONSTRAINT [PK_Empleado]
GO
ALTER TABLE [dbo].[ALMACEN] DROP CONSTRAINT [DF__ALMACEN__bDispon__4E88ABD4]
GO
/****** Object:  Index [Vendidos]    Script Date: 9/8/2018 12:46:43 PM ******/
DROP INDEX [Vendidos] ON [dbo].[VENTA]
GO
/****** Object:  Index [multiples_Puestos]    Script Date: 9/8/2018 12:46:43 PM ******/
DROP INDEX [multiples_Puestos] ON [dbo].[PUESTO]
GO
/****** Object:  Index [Pago_x_Empleado]    Script Date: 9/8/2018 12:46:43 PM ******/
DROP INDEX [Pago_x_Empleado] ON [dbo].[NOMINA]
GO
/****** Object:  Index [Id_Empleado]    Script Date: 9/8/2018 12:46:43 PM ******/
DROP INDEX [Id_Empleado] ON [dbo].[EMPLEADO]
GO
/****** Object:  Index [UQ__EMPLEADO__2C50AD865048A860]    Script Date: 9/8/2018 12:46:43 PM ******/
ALTER TABLE [dbo].[EMPLEADO] DROP CONSTRAINT [UQ__EMPLEADO__2C50AD865048A860]
GO
/****** Object:  Index [UQ__EMPLEADO__2479778F92E7CE00]    Script Date: 9/8/2018 12:46:43 PM ******/
ALTER TABLE [dbo].[EMPLEADO] DROP CONSTRAINT [UQ__EMPLEADO__2479778F92E7CE00]
GO
/****** Object:  Index [UQ__EMPLEADO__142BC5C170AADF5F]    Script Date: 9/8/2018 12:46:43 PM ******/
ALTER TABLE [dbo].[EMPLEADO] DROP CONSTRAINT [UQ__EMPLEADO__142BC5C170AADF5F]
GO
/****** Object:  Index [Storage]    Script Date: 9/8/2018 12:46:43 PM ******/
DROP INDEX [Storage] ON [dbo].[ALMACEN]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 9/8/2018 12:46:43 PM ******/
DROP TABLE [dbo].[VENTA]
GO
/****** Object:  Table [dbo].[PUESTO]    Script Date: 9/8/2018 12:46:43 PM ******/
DROP TABLE [dbo].[PUESTO]
GO
/****** Object:  Table [dbo].[NOMINA]    Script Date: 9/8/2018 12:46:43 PM ******/
DROP TABLE [dbo].[NOMINA]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 9/8/2018 12:46:43 PM ******/
DROP TABLE [dbo].[EMPLEADO]
GO
/****** Object:  Table [dbo].[ALMACEN]    Script Date: 9/8/2018 12:46:43 PM ******/
DROP TABLE [dbo].[ALMACEN]
GO
USE [master]
GO
/****** Object:  Database [PuntoDVenta]    Script Date: 9/8/2018 12:46:43 PM ******/
DROP DATABASE [PuntoDVenta]
GO
/****** Object:  Database [PuntoDVenta]    Script Date: 9/8/2018 12:46:43 PM ******/
CREATE DATABASE [PuntoDVenta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PuntoDVenta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PuntoDVenta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PuntoDVenta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PuntoDVenta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PuntoDVenta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PuntoDVenta]
GO
/****** Object:  Table [dbo].[ALMACEN]    Script Date: 9/8/2018 12:46:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALMACEN](
	[tProducto] [text] NULL,
	[biPrecio] [bigint] NOT NULL,
	[bDisponibilidad] [bit] NULL,
	[tDescripcion] [text] NULL,
	[tProveedor] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 9/8/2018 12:46:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[vNombreEmp] [varchar](30) NULL,
	[vAPEmp] [varchar](20) NULL,
	[vAMEmp] [varchar](20) NULL,
	[Nombre_Emp]  AS (([vNombreEmp]+[vAPEmp])+[vAMEmp]),
	[iIDEmp] [int] NOT NULL,
	[iEdad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iIDEmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOMINA]    Script Date: 9/8/2018 12:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOMINA](
	[iIDEmp] [int] NOT NULL,
	[tPuesto] [text] NOT NULL,
	[fPagoxHrPuesto] [float] NOT NULL,
	[iHorasTrabajadas] [int] NOT NULL,
	[Dias_Trabajados]  AS ([iHorasTrabajadas]/(8)),
	[Salario]  AS ([iHorasTrabajadas]*[fPagoxHrPuesto])
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUESTO]    Script Date: 9/8/2018 12:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUESTO](
	[iIdPuesto] [int] IDENTITY(20,5) NOT NULL,
	[tNombPuesto] [text] NOT NULL,
	[fPagoxHrPuesto] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iIdPuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 9/8/2018 12:46:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[iNumVenta] [int] IDENTITY(1000,1) NOT NULL,
	[tMercancia] [text] NULL,
	[iCostoM] [int] NOT NULL,
	[iIDEmp] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[iNumVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [Storage]    Script Date: 9/8/2018 12:46:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Storage] ON [dbo].[ALMACEN]
(
	[bDisponibilidad] ASC,
	[biPrecio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EMPLEADO__142BC5C170AADF5F]    Script Date: 9/8/2018 12:46:45 PM ******/
ALTER TABLE [dbo].[EMPLEADO] ADD UNIQUE NONCLUSTERED 
(
	[vNombreEmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EMPLEADO__2479778F92E7CE00]    Script Date: 9/8/2018 12:46:45 PM ******/
ALTER TABLE [dbo].[EMPLEADO] ADD UNIQUE NONCLUSTERED 
(
	[vAMEmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EMPLEADO__2C50AD865048A860]    Script Date: 9/8/2018 12:46:45 PM ******/
ALTER TABLE [dbo].[EMPLEADO] ADD UNIQUE NONCLUSTERED 
(
	[vAPEmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Id_Empleado]    Script Date: 9/8/2018 12:46:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Id_Empleado] ON [dbo].[EMPLEADO]
(
	[vNombreEmp] ASC,
	[iIDEmp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Pago_x_Empleado]    Script Date: 9/8/2018 12:46:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Pago_x_Empleado] ON [dbo].[NOMINA]
(
	[iIDEmp] ASC,
	[fPagoxHrPuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [multiples_Puestos]    Script Date: 9/8/2018 12:46:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [multiples_Puestos] ON [dbo].[PUESTO]
(
	[iIdPuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Vendidos]    Script Date: 9/8/2018 12:46:45 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Vendidos] ON [dbo].[VENTA]
(
	[iNumVenta] ASC,
	[iIDEmp] ASC,
	[iCostoM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALMACEN] ADD  DEFAULT ((0)) FOR [bDisponibilidad]
GO
ALTER TABLE [dbo].[NOMINA]  WITH CHECK ADD  CONSTRAINT [PK_Empleado] FOREIGN KEY([iIDEmp])
REFERENCES [dbo].[EMPLEADO] ([iIDEmp])
GO
ALTER TABLE [dbo].[NOMINA] CHECK CONSTRAINT [PK_Empleado]
GO
ALTER TABLE [dbo].[PUESTO]  WITH CHECK ADD  CONSTRAINT [FK_PUESTO_PUESTO] FOREIGN KEY([iIdPuesto])
REFERENCES [dbo].[PUESTO] ([iIdPuesto])
GO
ALTER TABLE [dbo].[PUESTO] CHECK CONSTRAINT [FK_PUESTO_PUESTO]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD CHECK  (([iEdad]>(18)))
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD CHECK  (([iIDEmp]>(8) AND [iIDEmp]<(20)))
GO
ALTER TABLE [dbo].[NOMINA]  WITH CHECK ADD CHECK  (([iIDEmp]>(8) AND [iIDEmp]<(20)))
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD CHECK  (([iIDEmp]>(8) AND [iIDEmp]<(20)))
GO
USE [master]
GO
